[phases.setup]
nixPkgs = ["nodejs"]

[phases.install]
cmds = ["npm install"]

[phases.build]
cmds = ['npx convex deploy --cmd="npm run build"']


[watch]
# Watch paths for auto-redeployment when changes are detected
paths = [
  "src/**/*",
  "convex/**/*",
  "public/**/*",
  "package.json",
  "next.config.ts",
  "tsconfig.json",
  "middleware.ts"
]
